<h1>Bienvenidos Chat Shipit</h1>
<h3>Selecciona una opcion</h3>
<%= link_to "Inicio Sesion", new_user_session_path %> |
<%= link_to "Registrarse", new_user_registration_path %>
<div id="notifications">
</div>